#custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

#custom-scrollbar::-webkit-scrollbar-thumb {
  /*background-color: #333;*/
  background-color: #2f2c53;
  /*border-radius: 10px;*/
}

#custom-scrollbar::-webkit-scrollbar-track {
  /*display: none;*/
  background-color: #eee;
}

#custom-scrollbar::-webkit-scrollbar-corner {
  background-color: #eee;
}


